---
layout: home-page
title: Cases
permalink: /cases/
---
{% include author-box.html %}

    {% for post in site.tags["Case"] %}{% if post.title != null %}
    <div class="tag-list">
        <span><a href="{{ post.url }}">{{ post.title }}</a></span>
        <small><span>| {{ post.date | date_to_string }}</span></small>
      <small><a href="{{ post.url }}"><img src=" {{ "/assets/img/post/" | prepend: site.baseurl | append : post.img}}"></a></small>
    </div>
    {% endif %}{% endfor %}

</section>
