
<!-- Navigation -->




<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">Franz Krekeler
                <small class="element">I make movies</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-md-6">
            <div class="img-responsive"> <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fbentode%2Fvideos%2Fvb.969444166410405/1167639983257488%2F%3Ftype%3D3&show_text=0&width=400" width=500px height = 500px style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true" data-autoplay=”true”></iframe></div>
        </div>
        <div class="col-md-4">
            <h3>Licht, Kamera, Action!</h3>
            <p>Seit 2012 freiberuflicher Filmemacher in Hamburg.
                <br>
                2015-2017 Arbeit als Allround-Videoredakteur bei bento (Spiegel Online)
            </p>
            <h3>Stärken</h3>
            <ul>
                <li>Lichtsetzung für Portraits</li>
                <li>Technisches Know-How</li>
                <li>Schnitt</li>
                <li>Postproduction</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-10">
            <h3 class="page-header">Imagefilme und Eventfilme</h3>
        </div>
    </div>
        <div class="row col-lg-10"">
        <div class="col-sm-3 col-xs-6 ">
            <a href="http://www.wuales.com/" target="_blank">
                <img class="img-responsive portfolio-item" src="/assets/img/film/wuales_photography_release_sponsored_by_leica.jpg" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6 ">
            <a href="https://www.youtube.com/watch?v=dMV6KrAaFkE&t=1s" target="_blank">
                <img class="img-responsive portfolio-item" src="/assets/img/film/planten_un_blomen_imagefilm_logo.jpg" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6 ">
            <a href="https://www.youtube.com/watch?v=gdoMX5kss9Q" target="_blank">
                <img class="img-responsive portfolio-item" src="/assets/img/film/mona_berg_imagefilm_logo.jpg" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="https://www.youtube.com/watch?v=JXhDGwiX7dE" target="_blank">
                <img class="img-responsive portfolio-item" src="/assets/img/film/monika_killinger_imagefilm_logo.jpg" alt="">
            </a>
        </div>

    </div>
    <hr class="col-lg-8">
    <!-- /.row -->

    

    <div class="row">
            <div class="row col-lg-10"">
            <h3 class="page-header">Zusammenarbeit mit:</h3>

        <div class="col-sm-3 col-xs-6">
            <a href="http://www.boom.de/"  target="_blank">
                <img class="img-responsive portfolio-item" src="/assets/img/film/boom_logo.jpg" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="http://filmfreunde.tv/"  target="_blank">
                <img class="img-responsive portfolio-item" src="/assets/img/film/filmfreunde_logo.jpg" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="http://www.seoseo-gmbh.de/"  target="_blank">
                <img class="img-responsive portfolio-item" src="/assets/img/film/seoseo_logo.jpg" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="http://sunshinefilm.de"  target="_blank">
                <img class="img-responsive portfolio-item" src="/assets/img/film/sunshine_logo.jpg" alt="">
            </a>
        </div>
    </div>
    </div>
    <!-- /.row -->

    <hr class="col-lg-8">

    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fkrekeler&width=147&layout=button_count&action=like&size=large&show_faces=true&share=true&height=46&appId=1124233241005651" width="100%" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
       
  


</div>
<!-- /.container -->
<script src="typed.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        Typed.new(".element", {
            strings: ["I make movies.", "I make awesome movies.", "Check them out."],
            typeSpeed: 0
        });
    });
</script>



<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.7/typed.min.js"></script>