


		<head>
				<title>Data Science Advent - franz.media</title>
				<meta charset="utf-8" />
				<meta name="viewport" content="width=device-width, initial-scale=1" />
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
				<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
				<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
				<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
				<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
				<link rel="stylesheet" href="/assets/css/magnific-popup.css">
				<link rel="stylesheet" type="text/css" href="/assets/css/advent.css">
				<link rel="stylesheet" href="{{ "/assets/css/main_embed.css" | prepend: site.baseurl }}">
				
			</head>