<nav class="main-nav">
        <span class="menu-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
        <ul>
          <li><a href="{{site.baseurl}}/">Home</a></li>
          <li><a href="{{site.baseurl}}/cases">Cases</a></li>
          <li><a href="{{site.baseurl}}/film">Films</a></li>
          <li><a href="{{site.baseurl}}/advent">Christmas Project</a></li>
          <li><a href="{{site.baseurl}}/hacker-shop">Hackersshop</a></li>
          <li><a href="{{site.baseurl}}/about">About</a></li>

        </ul>
      </nav>
