<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Soundcloud - Track IDs</title>
</head>

<!--
<div id="example">
  <h2>Delimiters changing!</h2>
  <p>Jinja2: ((message)) </p>
</div>

<script>
var example = new Vue({
  el: "#example",
  delimiters: ["[[", "]]"],
  data: {
    message: "((message))"
  }
})
</script>
-->
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="navbar-brand" href="#">
                    <span>
                        <img style="display: inline-block; height: 40px; margin-top: -10px"
                             src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c537.png">
                    </span>
                </a>
            </div>

            <div class="col-md-4"><h1>Soundcloud - Track IDs</h1></div>

           
        </div>
    </div>
</nav>


<div class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#pane-zero" aria-controls="zero" role="tab" data-toggle="tab">Comment search</a>
        </li>
        <!--
        <li role="presentation">
            <a href="#pane-one" aria-controls="one" role="tab" data-toggle="tab">One</a>
        </li>
        <li role="presentation">
            <a href="#pane-two" aria-controls="two" role="tab" data-toggle="tab">Two</a>
        </li>
        -->

    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 10px">
        <div role="tabpanel" class="tab-pane fade in active" id="pane-zero">
            <div class="col-md-6">
                <div id="app-zero">
                  <!--<span v-bind:ts="ts">
                        Side server timestamp: {% raw %}{{ ts }}{% endraw %}
                  </span>-->
                  <h1>Paste a Soundcloud url of a set</h1>
                  <p>For Example:  http://soundcloud.com/hosh/h-o-s-h-panorama-bar-5-years </p>
                  <form method="POST" action=".">
                  <input id="post_form_id" name="fooput" value="" />
                  <input type="submit">
                  </form>
                  {% if message %}
                  You entered: ((message))
                  <br>
                  Some of the tracks in the comments are:
                  <ul>
{% for user in results %}
  <li>((user))</li>
{% endfor %}
</ul>

                  {% endif %}
                </div>
            </div>
            <div class="col-md-6"></div>

        </div>
        <!--
        <div role="tabpanel" class="tab-pane" id="pane-one">
            <div id="app-one">
                <div>
                    <one-list v-for="item in one_list" v-bind:item="item"></one-list>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="pane-two">
            <div id="app-two">
                <ol>
                    <li v-for="item in two_list">
                        {% raw %}{{ item }}{% endraw %}
                    </li>
                </ol>

            </div>
        </div>
        -->
    </div>
</div>
</body>



<script src="static/node_modules/vue/dist/vue.link.js"></script>
<script src="static/node_modules/vue-resource/dist/vue-resource.min.js"></script>
<script src="static/js/app.js"></script>

</html>

