---
layout: advent
---
<script>
document.onkeydown = function(e) {

    e = e || window.event;

    switch(e.which){
    // {case 39:alert("rechts");break
    //case 37:alert("links");break
    }
  }
</script>
<div class="flex-container">
  <article class="article-page">
    <div class="wrapper">
      <div class="advent-page-content">
        <div class="header-page">
          
        </div>
        <div class="advent-center"></div>
        <img class="advent-image-below" src="{{"/assets/img/advent2018/" | prepend: site.baseurl | append : page.img}}">
        <div class= "description">
            {{page.content | markdownify}}
        </div>
        <div class="page-footer">
          <div class="page-tag">
            <span>Tags:</span>
            {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">| {{ tag }}</a>
            {% endfor %}
          </div><!-- End Tags -->
          <div class="page-share">
            <span>Share:</span>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
            <a href="https://github.com/franz101/franz.media/tree/master/_advent" title="Fork on Github" rel="nofollow" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </div><!-- End Share -->
        </div>
        {% include newsletter.html %}
        {% include recent-advent.html %}    
      </div>
    </div> <!-- End Wrapper -->
  </article>
  {% include search.html %}
  {% include advent-footer.html %}
</div>
