---
layout: advent
---
<div class="flex-container">
  <article class="article-page">
    <div class="wrapper">
      <div class="shop-page-content">
        <div class="header-page">
            <div class="PageNavigation">
                {% if page.previous.url %}
                  <a class="prev .flex-item" href="{{page.previous.url}}">&#8249;</a>
                  {% else %}
                  <a class="prev .flex-item"></a>
                {% endif %}
                <h1 class="page-title .flex-item">{{page.title}}</h1>
                {% if page.next.url %}
                  <a class="next .flex-item"  href="{{page.next.url}}">&#8250;</a>
                  {% else %}
                  <a class="next .flex-item"></a>
                {% endif %}
              </div>
          <div class="page-date">29€</div>
        </div>
        <div class="shop-center"></div>
        <img class="shop-image-below" src="{{"/assets/img/shop/" | prepend: site.baseurl | append : page.img}}">
        <div class= "description"><h4 >This Item is currently out of stock. Please contact the <a href="mailto:fkrekeler+hs@gmail.com">team</a> for a restock.</h4></div>
    </div>
        <div class="page-footer">
          <div class="page-tag">
            <span>Tags:</span>
            {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">| {{ tag }}</a>
            {% endfor %}
          </div><!-- End Tags -->
          <div class="page-share">
            <span>Share:</span>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
          </div><!-- End Share -->
        </div>
        {% include author-box.html %}
        {% include recent-post.html %}
        {% include newsletter.html %}
    
      </div>
    </div> <!-- End Wrapper -->
  </article>
  {% include search.html %}
  {% include footer.html %}
</div>
