<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
    <meta name="description" content="{{ page.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="">

    <meta name="twitter:card" content="The small joy of little code snippets and goodies." />
<meta name="twitter:site" content="@filmfranz" />
<meta name="twitter:title" content="Advent of data science 2018" />
<meta name="twitter:description" content="Daily little code snippets and goodies." />
<meta name="twitter:image" content="https://franz.media/assets/img/post/2018-11-30_advent.jpg" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Advent of data science 2018" />
<meta property="og:description"        content="Daily little code snippets and goodies" />
<meta property="og:image"              content="https://franz.media/assets/img/post/2018-11-30_advent.jpg" />

    <link rel="shortcut icon" href="{{ "/assets/img/favicon/afavicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicon/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#311e3e">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#311e3e">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#311e3e">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <!-- Styles -->
    <link rel="stylesheet" href="{{ "/assets/css/advent2018.css" | prepend: site.baseurl }}">
  </head>
  
<body>
  <div class="flex-container">
    <header class="main-header">
      <div class="wrapper">
        <div class="header-flex">
          <div class="menu-icon-container">
            <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
          </div>
          {% include navbar.html %}
          <p class="logo"><a href="{{site.baseurl}}/advent-of-data-science-2018">Advent of Data Science</a></p>
          <div class="search-icon-container">
            <span class="search-icon"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
          </div>
        </div>
      </div>
    </header> <!-- End Header -->
    
    <div class="content wrapper">
      {{ content }}
    {% include search.html %}
    {% include pagination.html %}
    </div> <!-- End Wrapper -->
    {% include footer.html %}
  </div>
  
  {% include javascripts.html %}
  {% include analytics.html %}
</body>
</html>
